@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Romanine';
  src: url('https://fonts.cdnfonts.com/css/romanine') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply scroll-pt-20;
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-foreground-light dark:text-foreground-dark font-sans;
  }

  ::selection {
    @apply bg-black text-white;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background-light dark:bg-background-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/20 dark:bg-primary-dark/20 rounded-full hover:bg-primary/30 dark:hover:bg-primary-dark/30 transition-colors duration-300;
  }
}